## Content.

This notebook contains the coversion process of the dataset from a parquet file to a SQL database. Additionally it shows a way to use SQL commands in combination with python jupyter notebook.

In [1]:
import pandas as pd
import sqlite3

# Load the Parquet data
df = pd.read_parquet('HPCsyntheticdata.parquet', engine='pyarrow')

# Save it as CSV for easier import into SQL
df.to_csv('HPCsyntheticdata.csv', index=False)

# Connect to SQLite
conn = sqlite3.connect('hpc_data_analysis.db')
cursor = conn.cursor()

# Load CSV data into SQL
df.to_sql('hpc_data', conn, if_exists='replace', index=False)

# Commit and close the connection
conn.commit()
conn.close()

In [8]:
pip install prettytable==2.1.0

Collecting prettytable==2.1.0
  Downloading prettytable-2.1.0-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: wcwidth in c:\users\nuno\appdata\local\programs\python\python310\lib\site-packages (from prettytable==2.1.0) (0.2.5)
Downloading prettytable-2.1.0-py3-none-any.whl (22 kB)
Installing collected packages: prettytable
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.12.0
    Uninstalling prettytable-3.12.0:
      Successfully uninstalled prettytable-3.12.0
Successfully installed prettytable-2.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# Load the SQL extension
%load_ext sql

# Set a compatible style for PrettyTable (default style)
%config SqlMagic.style = 'DEFAULT'  # Or 'PLAIN_COLUMNS'

# Connect to the SQLite database and assign an alias
%sql sqlite:///hpc_data_analysis.db

In [2]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///hpc_data_analysis.db
Done.

[('hpc_data',)]

In [3]:
%%sql
SELECT * FROM hpc_data LIMIT 5;

 * sqlite:///hpc_data_analysis.db
Done.

[(83106.0, 13109.0, 240.0, 0, 4, 1.0, '1', 87034, 1590102365, 560, 560, 18.0, 0.0),
 (258720.0, 528.0, 240.0, 0, 4, 1.0, '1', 85884, 1590102370, 560, 560, 19.0, 0.0),
 (5814.0, 774.0, 240.0, 0, 4, 1.0, '1', 115982, 1590102339, 680, 680, 20.0, 0.0),
 (475989.0, 555.0, 240.0, 0, 4, 1.0, '1', 86934, 1590102366, 560, 560, 18.0, 0.0),
 (2348.0, 90439.0, 237.0, 4, 128, 4.0, '1', 257524, 1590142519, 630, 630, 4.0, 0.0)]

In [4]:
%%sql
PRAGMA table_info(hpc_data);

 * sqlite:///hpc_data_analysis.db
Done.

[(0, 'inst', 'REAL', 0, None, 0),
 (1, 'bi', 'REAL', 0, None, 0),
 (2, 'mem_req', 'REAL', 0, None, 0),
 (3, 'num_gpus_req', 'INTEGER', 0, None, 0),
 (4, 'num_cores_req', 'INTEGER', 0, None, 0),
 (5, 'num_tasks', 'REAL', 0, None, 0),
 (6, 'qos', 'TEXT', 0, None, 0),
 (7, 'priority', 'INTEGER', 0, None, 0),
 (8, 'eligible_time_epoch', 'INTEGER', 0, None, 0),
 (9, 'total_power', 'INTEGER', 0, None, 0),
 (10, 'mean_power', 'INTEGER', 0, None, 0),
 (11, 'run_time', 'REAL', 0, None, 0),
 (12, 'label', 'REAL', 0, None, 0)]